body {
    background: rgb(228, 248, 222);
    font-family: "Courier New", Courier, monospace
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

.rect:hover {
    stroke: orange;
    cursor: cell;
  }
  
.selected {
fill: green;
}

.main-screen {
    width: 90vw;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.grid-container {
    width: 16rem;
    margin: 1rem auto;
    padding: 1rem;
    background: white;
}

.controls {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

button {
    font-family: inherit;
    font-size: 1rem;
    border: 0.1rem solid rgb(49, 88, 38);
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.1rem;
    background: rgb(118, 143, 136);
}

.stats {
    text-align: center;
}